.flashcard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation-buttons {
  display: flex;
  justify-content: center;
  gap: 10px; /* Space between Previous and Next buttons */
}

.report-button {
  background-color: red; /* No change in color */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-top: 10px; /* Space between navigation buttons and Report button */
}

.report-button .material-symbols-outlined {
  margin-right: 8px;
}

.flashcard-container .buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Space between the navigation buttons and report button */
}

.navigation-buttons button {
  background-color: #007bff; /* No change in color */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.navigation-buttons .material-symbols-outlined {
  margin-right: 8px;
}
